*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(220, 255, 253), rgb(143, 226, 253));
    background-repeat: repeat;
    background-size: cover;

}

.container{
    width: 80%;
    /* height: 50%; */
    /* min-height:380px; */
    margin: 5rem auto;
    border: 5px solid #264de4;
    outline: 5px solid #2965f1;
    outline-offset: 5px;
    
}

img{
    width: 200px;
    /* max-height: 250px; */
    margin: 50px 40px 30px;
    float: left;
}

.text{
    margin: 50px 40px;
}

.text p {
    margin-top: 10px;
    text-align: justify;
}